In [45]:
import pandas as pd

In [46]:
stat_df = pd.read_csv('nba_stats/2000-01.csv')
mvp_df = pd.read_csv('past_mvps/mvps_2001.csv')

In [47]:
stat_df.drop(columns=['TEAM', 'PLAYER_ID', 'TEAM_ID', 'RANK'], inplace=True)

In [48]:
stat_df.head()

,PLAYER,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PTS,EFF,Year
0,Allen Iverson,71,42.0,10.7,25.5,0.420,1.4,4.3,0.320,8.2,...,0.7,3.1,3.8,4.6,2.5,0.3,3.3,31.1,22.3,2000
1,Jerry Stackhouse,80,40.2,9.7,24.1,0.402,2.1,5.9,0.351,8.3,...,1.2,2.7,3.9,5.1,1.2,0.7,4.1,29.8,20.4,2000
2,Shaquille O'Neal,74,39.5,11.0,19.2,0.572,0.0,0.0,0.000,6.7,...,3.9,8.8,12.7,3.7,0.6,2.8,2.9,28.7,31.0,2000
3,Kobe Bryant,68,40.9,10.3,22.2,0.464,0.9,2.9,0.305,7.0,...,1.5,4.3,5.9,5.0,1.7,0.6,3.2,28.5,25.3,2000
4,Vince Carter,75,39.7,10.2,22.1,0.460,2.2,5.3,0.408,5.1,...,2.3,3.2,5.5,3.9,1.5,1.1,2.2,27.6,23.9,2000

In [55]:
mvp_df = mvp_df.rename(columns={
    'Player': 'PLAYER',
    'Rank': 'RANK',
    'Year': 'YEAR'
})
mvp_df = mvp_df[['PLAYER', 'YEAR', 'RANK']]
mvp_df['RANK'] = (mvp_df['RANK'].index) + 1

In [56]:
mvp_df

              PLAYER  YEAR  RANK
0      Allen Iverson  2001     1
1         Tim Duncan  2001     2
2   Shaquille O'Neal  2001     3
3       Chris Webber  2001     4
4      Kevin Garnett  2001     5
5      Tracy McGrady  2001     6
6        Karl Malone  2001     7
7         Jason Kidd  2001     8
8        Kobe Bryant  2001     9
9     David Robinson  2001    10
10         Ray Allen  2001    11
11      Vince Carter  2001    12
12       Paul Pierce  2001    13
13  Jerry Stackhouse  2001    14
14    Michael Finley  2001    15
15     Anthony Mason  2001    16
16     John Stockton  2001    17